
@{
    ViewBag.Title = "Descripcion";
}


<div style="padding: 50px" class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
        <div class="field-item even" property="content:encoded">
            <h1>
                Descripción
            </h1>
            <p>La base de datos del SITEAL está organizada en dos secciones:</p>
            <p>La primera refiere al acceso y permanencia de niños, adolescentes y jóvenes en el sistema educativo y al nivel educativo alcanzado por la población en general.</p>
            <p>La segunda profundiza en el análisis de la relación entre educación y mercado de trabajo y entre educación y condiciones de vida.</p>
            <p>Esta división se justifica en el tipo de variables seleccionadas en cada caso para el monitoreo de la equidad.</p>
            <p>En la&nbsp;<b>Primera Sección</b>, la educación de los niños y adolescentes es considerada como una variable dependiente de las características sociales de los hogares en los que residen.</p>
            <p>El SITEAL propone a los usuarios como variables independientes para el monitoreo de la equidad en el acceso y la permanencia en el sistema educativo al&nbsp;<b>clima educativo</b>&nbsp;o el&nbsp;<b>capital cultural</b>&nbsp;del hogar (el promedio de años de escolaridad alcanzado por los miembros de 18 años y más del hogar) y al&nbsp;<b>nivel de ingresos per cápita familiares</b>&nbsp;en el caso de los hogares urbanos.</p>
            <p>En el caso del&nbsp;<b>clima educativo del hogar</b>, los hogares fueron clasificados en tres categorías:</p>
            <ul>
                <li>
                    clima educativo bajo: el promedio de años de escolarización de los miembros de 18 años y más es inferior a 6.
                </li>
                <li>
                    clima educativo medio: el promedio de años de escolarización de los miembros de 18 años y más oscila entre 6 y menos de 12.
                </li>
                <li>
                    clima educativo alto: el promedio de años de escolarización de los miembros de 18 años y más es de 12 años o más.
                </li>
            </ul>
            <p>En cuanto al&nbsp;<b>nivel de ingresos per cápita familiares</b>&nbsp;los hogares urbanos fueron clasificados en tres grupos:</p>
            <ul>
                <li>
                    ingresos per cápita familiares bajos: incluye al 30% de los hogares con menores ingresos.
                </li>
                <li>
                    ingresos per cápita familiares medios: incluye a los hogares que se encuentran entre el percentil 30 y el percentil 60 de la distribución.
                </li>
                <li>
                    ingresos per cápita familiares altos: incluye al 40% de los hogares con mayores ingresos.
                </li>
            </ul>
            <p>En esta sección también fueron incluidos indicadores relativos a al nivel educativo alcanzado por la población mayor de 15 años, los cuales sólo fueron desagregados por niveles de ingreso per cápita familiares.</p>
            <p>En la&nbsp;<b>Segunda Sección</b>, los años de estudios alcanzados por la población son considerados como una variable independiente, sensible a las diferencias en la inserción en el mercado de trabajo y en la calidad de vida de la población de 15 años o más.</p>
            <p>En esta sección se incluyeron además indicadores de&nbsp;<b>Condiciones de vida</b>&nbsp;que refieren a los hogares y no a las personas. Para estos indicadores se propone como variable independiente el clima educativo o el capital cultural de los hogares.</p>
            <h2>
                Variables de corte
            </h2>
            <p>Tanto para los temas considerados en la Primera como en la Segunda Sección, el sistema posibilita la desagregación de los indicadores, por sexo y para distintos grupos de edad cuyas categorías varían en función de los indicadores propuestos.</p>
            <p>Los indicadores de la Primera Sección pueden desagregarse por área geográfica (urbana – rural). En cambio, la Segunda Sección sólo refiere a la población y a los hogares urbanos.</p>
            <p>La posibilidad de desagregar los indicadores por las variables propuestas para el monitoreo de la equidad: el clima educativo del hogar y el nivel de ingresos per cápita familiar en la&nbsp;<b>Primera Sección</b>&nbsp;y los años de estudio alcanzados por la población en la&nbsp;<b>Segunda</b>&nbsp;facilita el diagnóstico de las brechas sociales.</p>
            <p>El SITEAL brinda la posibilidad de estimar brechas geográficas (entre las áreas urbanas y las rurales) y brechas de género (entre hombres y mujeres).</p>
            <p>A su vez, el sistema permite la producción de tablas de resultados a nivel del total de país o seleccionando regiones de uno o más países. Este nivel de desagregación geográfica (las regiones que integran cada país) permite monitorear la cuestión de la fragmentación territorial e incluso estudiar la evolución de las brechas regionales dentro de las áreas urbanas y de las rurales.</p>
            <h2>
                Pasos para la producción de una tabla de resultados
            </h2>
            <p>La solicitud de tablas de resultados siempre debe iniciarse por la selección de ‘país’ y ‘año’.</p>
            <p>Al seleccionar la variable ‘país’, los usuarios deben optar por trabajar a nivel del total del país o por regiones. El sistema no admite la presentación de tablas en las que se mezclen datos correspondientes al total de un país con datos regionales de otro. En cambio, sí posibilita la selección de la totalidad de las regiones que integran uno o varios países.</p>
            <p>Una vez realizada esta selección, el paso siguiente consiste en definir el resto de las variables de corte por las que interesa desagregar la información.</p>
            <p>El tercer paso es la presentación de la tabla de resultados con las especificaciones propuestas por cada usuario.</p>
            <p>Cuando las desagregaciones de la información solicitadas por los usuarios exceden las posibilidades de las muestras, el sistema marca con un asterisco (*) las celdas en las que las estimaciones pierden confiabilidad por su amplia variabilidad.</p>
            <p>Cada tabla de resultados tiene un botón que permite su exportación a un archivo Excel.</p>
            <p>El sistema guarda en una ventana todas las búsquedas realizadas de manera que una vez producidas la totalidad de tablas de resultados, los usuarios pueden imprimir o guardar aquellas que les resulten de mayor interés o en las que concentrarán sus análisis.</p>
        </div>
    </div>
</div>