
@{
    ViewBag.Title = "Fuentes de información";
}

<div style="padding: 50px" class="field-item even" property="content:encoded">
    <h1>
        Fuentes de información
    </h1>
    <p>La fuente que nutre la Base de Datos del SITEAL la constituyen las Encuestas de Hogares que se aplican desde hace décadas en forma regular en casi todos los países de la región. Se trata de una fuente de gran potencial y relativamente bajo uso en la producción de diagnósticos educativos. Sin embargo, hay tres aspectos por los cuales resulta relevante el empleo de esta fuente:</p>
    <ul>
        <li>
            La&nbsp;<b>periodicidad</b>: en la mayoría de los países se realizan relevamientos que permiten una actualización anual de los indicadores, lo cual resulta útil para el análisis de tendencias.
        </li>
        <li>
            La&nbsp;<b>cobertura temática</b>: las encuestas abarcan un conjunto importante de cuestiones socioeconómicas y demográficas, lo que permite poner en correspondencia las variables educativas con otras relativas a las características sociales de los hogares, a la inserción laboral de sus miembros y a la calidad de vida a la que acceden.
        </li>
        <li>
            La&nbsp;<b>cobertura geográfica</b>: las encuestas proporcionan estimaciones válidas para un porcentaje muy importante de la población. Casi todas las encuestas tienen cobertura urbano - rural y permiten el cálculo de estimaciones confiables a nivel de grandes regiones.
        </li>
    </ul>
    <p>Todas las Encuestas a Hogares investigan por lo menos las siguientes variables educativas:</p>
    <ul>
        <li>
            Condición de alfabetismo.
        </li>
        <li>
            Asistencia escolar.
        </li>
        <li>
            Nivel educativo de la población que asiste.
        </li>
        <li>
            Grado o año al que asiste.
        </li>
        <li>
            Máximo nivel educativo de la población que no asiste pero asistió.
        </li>
        <li>
            Finalización del nivel.
        </li>
        <li>
            Ultimo grado o año aprobado por la población que no asiste pero asistió.
        </li>
    </ul>
    <p>A partir de estas variables que relevan todas las encuestas es posible estimar los años de escolarización de la población. Este dato es el que se emplea para el cálculo del clima educativo de los hogares, una de las variables de corte propuestas por el SITEAL para el monitoreo de las desigualdades sociales en el acceso y en el desempeño escolar de niños y jóvenes.</p>
    <p>Existen otras variables como el sector al que pertenece el establecimiento, la percepción de becas de ayuda económica o de créditos educativos, el adeudamiento de materias de grados u años anteriores, la extensión de la jornada escolar, las razones por las cuales se abandonaron los estudios, el tipo de enseñanza profesional con la que cuentan quienes terminaron la educación superior o universitaria, ó los gastos de los hogares destinados a la educación que sólo son investigadas en algunas de las encuestas. En esta etapa no se incluyeron en la base de datos indicadores elaborados en base a esta información ya que no permiten la comparación entre países.</p>
    <p>Asimismo todas las encuestas de hogares investigan la composición de los hogares, la inserción laboral de las personas que tienen 14 años o más, los ingresos de los hogares de fuente laboral y no laboral, la calidad de las viviendas y el acceso a determinados bienes y servicios. Este tipo de información nutre la segunda parte de la base de datos del SITEAL.</p>
</div>