
@{
    ViewBag.Title = "AsistenciaEdad";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.8.0/jquery.selectBoxIt.css">


<div style="padding: 50px" class="field-item even" property="content:encoded">
    <p>
        <h2>
            <strong>1. Tasa de asistencia por edad escolar</strong><br>
        </h2>
        Es el cociente entre la población en edad escolar que asiste al sistema educativo formal, independientemente del nivel de enseñanza que cursan, de cada grupo de edad y el total de población de ese grupo de edad, por cien. Los grupos de edad seleccionados son: 5 años, 6 a 8 años, 9 a 11 años, 12 a 14 años, y 15 a 17 años.
    </p>


    <div id="my-icon-select"></div>



    <h2>
        Indicadores de Acceso
    </h2>
    <p>Los indicadores de acceso permiten conocer el grado de accesibilidad a la educación en los distintos grupos de edad y niveles educativos. Estos indicadores permiten distinguir, entre la población en edad escolar, a cuál es la población que asiste a establecimiento de educación formal. Conocer la cobertura alcanzada por el sistema educativo en un área geográfica determinada es primordial a la hora de evaluar si los niños, niñas y adolescentes están siendo atendidos por los Gobiernos regionales. Conocer la cobertura escolar asimismo permite comprender el grado o nivel de avance y desarrollo del sistema educativo de un país.</p>
    <p>A fines de poder mostrar indicadores comparables y facilitar su la lectura y análisis, se adoptó la clasificación según niveles elaborada por el Instituto de Estadísticas de la UNESCO (<a href="http://www.uis.unesco.org/">http://www.uis.unesco.org</a>) en base a la Clasificación Internacional Normalizada (CINE, 2011). La clasificación CINE se define como marco de referencia estándar utilizado para categorizar y reportar estadísticas educativas internacionalmente comparables.</p>
    <p>La siguiente tabla muestra la duración y las edades pertinentes al nivel primario, secundario bajo y secundario alto para cada uno de los países de la región, según esta norma:</p>
    <div class="infogram-embed" data-id="1c7a3866-eb6f-45af-8a30-905c83431e69" data-type="interactive" data-title="Tabla SITEAL - ES"></div>
    <script>!function (e, i, n, s) { var t = "InfogramEmbeds", d = e.getElementsByTagName("script")[0]; if (window[t] && window[t].initialized) window[t].process && window[t].process(); else if (!e.getElementById(n)) { var o = e.createElement("script"); o.async = 1, o.id = n, o.src = "https://e.infogram.com/js/dist/embed-loader-min.js", d.parentNode.insertBefore(o, d) } }(document, 0, "infogram-async");</script>

</div>


